@font-face {
  font-family: 'Pixelated';
  src: url(assets/pixel.otf) format('opentype');
}

:root {
  font-family: 'Pixelated',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;

}
